[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/UAV-Research-Centre-UGent/UAV-Research-Centre-UGent.github.io.git
	branch = master
