[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/uav-research-centre-ugent/uav-research-centre-ugent.github.io.git
	branch = master
